
        <div class=" row barra text-warning">
            <div class="col-lg-6">
                <h1>Mi Tienda</h1>
            </div>
            <div class="col-lg-6">
                    <ul class="nav justify-content-end grey lighten-1 py-1">
                            <li class="nav-item">
                                <a class="nav-link active btn" [routerLink]="['../inicio/carrito' ]"><img src="../../assets/iconos/carrito.png" alt="" title="Carrito"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn" [routerLink]="['../inicio/Catalogo' ]"><img src="../../assets/iconos/catalogo.png" alt="" title="Catalogo"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn"routerLink="/"><img src="../../assets/iconos/salida.png" alt="" title="Salida"></a>
                            </li>
                        </ul>
            </div>
                
        </div>
            

