<div class="container">
  <div class="card detalle" style="width: 32rem;">
    <img class="card-img-top" src="../../assets/img/{{unproducto.nombre}}.jpg" alt="Card image cap">
    <div class="card-body">
     <tr>
       <td colspan="2"><h2><strong>{{unproducto.nombre}}</strong></h2></td>
       <td></td>
     </tr>
     <tr>
      <td><strong>Precio</strong></td>
      <td><h3>{{unproducto.precio}}</h3></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    </div>
  </div>  
</div>

